html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #121212;
    overflow: auto;
  }
  
  header {
    height: 50px;
    width: 100%;
    background-color: #000000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  header img {
    width: 10%;
    height: auto;
  }

  header button {
    background-color: #9e57ba;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  header div {
    font-size: 30px;
    color: white;
    margin-top: 5px;
  }
  
  header div span {
    font-weight: bold;
  }
  
  header div span.up {
    color: rgb(97, 252, 97);
  }
  
  header div span.down {
    color: red;
  }

  .gallery {
    display: inline-block;
    margin: 20px;
    border: 1px solid #ffffff;
    float: center;
    width: 500px;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
  } 

  .founderlist {
    display: inline-block;
    margin: 20px;
    border: 1px solid #010101;
    float: center;
    width: 300px;
  }
  
  .founderlist img {
    width: 100%;
    height: auto;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
  }  

   .cofounderlist {
    display: inline-block;
    margin: 20px;
    border: 1px solid #eeff00;
    float: center;
    width: 300px;
  }
  
  .cofounderlist img {
    width: 100%;
    height: auto;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
  }  

  .developerlist {
    display: inline-block;
    margin: 20px;
    border: 1px solid #ff9d00;
    float: center;
    width: 300px;
  }
  
  .developerlist img {
    width: 100%;
    height: auto;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
  }  

  footer {
    color: white;
    font-size: 18px;
  }
  
  
  
  
  