html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #121212;
    overflow: auto;
  }
  
  header {
    height: 50px;
    width: 100%;
    background-color: #000000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  header img {
    width: 10%;
    height: auto;
  }

  header button {
    background-color: #9e57ba;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  header div {
    font-size: 30px;
    color: white;
    margin-top: 5px;
  }
  
  header div span {
    font-weight: bold;
  }
  
  header div span.up {
    color: rgb(97, 252, 97);
  }
  
  header div span.down {
    color: red;
  }

  .support-text {
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-top: 20px;
  }
  .support-description-text {
    font-size: 20px;
    font-weight: normal;
    color: rgb(249, 249, 249);
    margin-top: 15px;
  }

  .billing-text {
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-top: 40px;
  }
  .billing-description-text {
    font-size: 20px;
    font-weight: normal;
    color: rgb(249, 249, 249);
    margin-top: 15px;
  }

  footer {
    color: white;
    font-size: 18px;
  }
  
  
  
  
  