html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #3c3c3c34;
    overflow: auto;
    background-image: url("./images/shop_bg.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
  }
  
  header {
    height: 50px;
    width: 100%;
    background-color: #0000006a;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  header img {
    width: 10%;
    height: auto;
  }

  header button {
    background-color: #9e57ba;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

/*SHOP START*/
  .gno {
    width: 1232px;
    height: 80px;
    border-radius: 0%;
    border: 0;
    display: block;
    margin: 0 auto;
  }

  .gsp {
    padding-top: 1%;
    padding-right: 7px;
    width: 400px;
    height: 300px;
    border-radius: 0%;
    border: 0;
    display: block;
    margin: 0 auto;
  }

  .rp {
    padding-top: 1%;
    width: 400px;
    height: 300px;
    border-radius: 0%;
    border: 0;
    display: block;
    margin: 0 auto;
  }

  .kp {
    padding-top: 1%;
    width: 400px;
    height: 300px;
    border-radius: 0%;
    border: 0;
    display: block;
    margin: 0 auto;
  }
/*SHOP END*/
/*LAST PURCHASE TEXT START*/
  .container {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #0000006a;
    overflow: hidden;
  }
  
  .text {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translate(100%, -50%);
    font-size: 30px;
    color: #009dff;
    white-space: nowrap;
    animation: move 20s linear infinite;
  }
  
  @keyframes move {
    0% {
      transform: translate(100%, -50%);
    }
    100% {
      transform: translate(-100%, -50%);
    }
  }
/*LAST PURCHASE TEXT END*/
  footer {
    padding-top: 5px;
    color: white;
  }